*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    top:0;
    left:0;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100vw;
    min-height: 60px;
    z-index: -1;
}
div#drawer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #333;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 20px;
}
nav a:hover{
    background-color: rgba(0,0,0,0.5);
}
#toggle{
    color:#fff;
    font-size: 24px;
    padding:10px;
    cursor: pointer;
    position:fixed;
    top: 10px;
    left: 10px;
    display: none;
}
/* formatação para telas menores que 768px */
@media screen and (max-width: 768px) {
    div#drawer {
        position: fixed;
        left:-200px;
        flex-direction: column;
        width: 200px;
        height:100vh;
    }
    #toggle{
        display: block;
    }
   nav:hover div#drawer{
        left:0;
    }
}