body{
    background-color: #000030;
    font-family: Arial, sans-serif;
    color: white;
}
input, button, select, #divResultado{
    padding: 10px;
    margin: 5px;
}
button{
    background-color: #000080;
    color: white;
    border: none;
}
#divResultado{
    background-color: #999;
    color: white;
    border: 2px solid white;
    padding:30px;
    font-size: 2em;
}   